<h1>Committee Lookup</h1>
<form>
  <div class="form-group">
    {{input value=chamberName placeholder="house, senate or joint?" id="chamberName"}}
  </div>
  <button {{action 'committeeLookup'}}>Submit</button>
</form>
