<h1>Vetoed Bills Lookup</h1>
<form>
  <div class="form-group">
    {{input value=chamber placeholder="house or senate?" id="chamber"}}
  </div>
  <button {{action 'vetoLookup'}}>Submit</button>
</form>
