<div class="container">
  <header class = "jumbotron">
    <h1>Enlightened Citizenry</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    <div class="row">
      <div class="col-md-3">
        <img src="http://bestanimations.com/Flags/USA/usa-american-flag-gif-6.gif" alt="" />
      </div>
      <div class="col-md-6">
        <img src="img/colbertskinrug.jpg" alt="" />
      </div>
      <div class="col-md-3">
        <img src="http://bestanimations.com/Flags/USA/usa-american-flag-gif-6.gif" alt="" />
      </div>
    </div>
  </footer>
</div>
