<h1>Vetoed Bills</h1>
<ul>
  {{#each model as |bill|}}
    <li>{{chamber-type bill}} Introduced on: {{intro-date-format bill}} | Vetoed on: {{date-format bill}} | {{bill.official_title}}</li>
  {{/each}}
</ul>
