<h1>Vetoed Bills</h1>
<div class="bill-results">
<ul>
  {{#each model as |bill|}}
    {{chamber-type bill}}
    <li>Introduced on: {{intro-date-format bill}}</li>
    <li>Vetoed on: {{date-format bill}}</li>
    <li>Official Title: {{bill.official_title}}</li>
  {{/each}}
</ul>
</div>
